<html>

   <head>
      <title>Топ 10 </title>
	  <link rel="stylesheet" href="../static/css/style.css">
   </head>
    
   <body>
      <header>
	    <nav>
	      <ul>
			  <li><a href="/">Main</a></li>
			  <li><a href="/Top_games">Top games</a></li>
			  <li><a href="/Login">Login</a></li>
		  </ul>

	    </nav> 
	  </header>
	   {% block main %}
  {% endblock %}
  
      <footer>
	  
	    <span>
		   <h6>
	          Це зробили <br> Стас Сидорук і Богдан Бабак
		   </h6>
		</span>
	  
	  </footer>
   </body>
   
</html>
