{% extends "basik_admin.html"%}
{% block main %}
<main class="qwe">
 <p>Інформація про гру(натисни на будь-яку фотку)</p>
 <section class="foto">
  <a href="/Pubg"><img class='Pubg' src="../static/images/1.PUBG.png"></a>
  <a href="/Minecraft"><img src="../static/images/2.Minecraft.png"></a>
  <a href="/Apex"><img src="../static/images/3.Apex Legends.png"></a>
  <a href="/Fortnite"><img src="../static/images/4.Fortnite Battle Royale.png"></a>
  <a href="/CS"><img src="../static/images/5.Counter-Strike Global Offensive .png"></a>
  <a href="/Stone"><img class="HS" src="../static/images/6.HearthStone .png"></a>
  <a href="/LOL"><img src="../static/images/7.League of Legends.png"></a>
  <a href="/COD"><img src="../static/images/8.Call of Duty Mobile.png"></a>
  <a href="/Dota"><img src="../static/images/9.DOTA 2.png"></a>
  <a href="/TD"><img src="../static/images/10.The Division 2.png"></a>
 </section>
</main>

{% endblock %}