{% extends "basik_admin.html"%}
{% block main %}
<main class="qwe">
 <p>Топ онлайн ігри</p>
 <section>
     <ol>
         <li><img src="static/images/1.Pubg.png">
             <p>Назва: PUBG<br>
                Розроблено : PUBG Corporation<br>
                Платформа :XBOX, iOS, ПК, Android<br>
                Онлайн-гравці : понад 100 мільйонів онлайн-гравців<br>
                Рік запуску : 2018<br>
                Це, безперечно, найпопулярніша онлайн-гра у 2022 році. PUBG захопила інтернет з вогнем, і з кожним днем з'являється стільки гравців, скільки вони очікували. PUBG насправді заснована на armor та H1Z1. У цій грі одночасно можуть грати до 99 гравців
                Ця гра користується великою популярністю завдяки графіку та реальній ситуації, коли карта та місія призначаються з великою кількістю ворогів, що ховаються в кущах. Гравці виграють гру, якщо виживають у ситуації та вбивають усіх прихованих ворогів.</p>
             
         </li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>

     </ol>
 </section>
</main>

{% endblock %}